@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-BoldOblique.eot');
    src: url('../fonts/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-BoldOblique.woff2') format('woff2'),
        url('../fonts/Helvetica-BoldOblique.woff') format('woff'),
        url('../fonts/Helvetica-BoldOblique.ttf') format('truetype'),
        url('../fonts/Helvetica-BoldOblique.svg#Helvetica-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

